*{
    transition: all 0.5s;
}

::-webkit-scrollbar{
    display: none;
}


.icons{
    width: 1.15em !important;
    height: 1.15em !important;
}

::selection {
  background-color: #4CAF50; 
  color: #fff; 
}